H1{
    text-align: center;
}

P{
    margin: 0.25in;
    border: 0.25in sold black;
    padding: 0.25in;
    background: URL(images/bond-paper.jpg);
}

BODY{
    background: URL(images/bricks.jpg);
}

.banner {
    background: url(images/bond-paper.jpg) repeat-x;
    font-size: 50pt;
    font-family: Arial Rounded MT Bold;
}